.container{
    border: 1px solid white;
    border-radius: 12px;
    margin-left: 400px;
    margin-top: 40px;
}
.Home{
    background-color: #172A3A;
    width:493px;
    height:425px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.home-header{
    display: flex;
}
.header-txt{
    color:white;
    padding-left:80px;
    padding-top:10px
}
.header-img{
    margin:30px;
}
.Home-footer{
    display: flex;
    justify-content: space-between;
    width:493px;
    height:65px;
    border: 1px solid white;
}
.footer1{
    background-color:#508991;
    width: 246px;
    height: 65px;
    border-bottom-left-radius: 12px;
    display: flex;
}
.footer2{
    background-color:#508991;
    width: 246px;
    height: 65px;
    border-bottom-right-radius: 12px;
    display: flex;
}
.location{
    display: flex;
    justify-content: center;
}
.location-txt{
    color:white;
    padding-right:40px;
    padding-left:15px
}
.location-logo{
    padding-top: 18px;
}
.weather-img{
    padding-left: 150px;
}
.weather-image{
    width:170px;
    height:160px;
    padding-right: -280px;
}
.weather-description{
    text-align: center;
    color: white;
    padding-right:30px;
}
.temp{
    text-align: center;
    color:white;
    margin-bottom: 30px;
    padding-right:30px; 
}
.temp-info{
    color:#EAEAEA;
    padding-left:10px;
    margin-top:-7px;
}
.hum-info{
    color:#EAEAEA;
    padding-left:10px;
    margin-top:-7px;
}
.temp-logo{
    padding-left:75px;
    padding-top:20px;
}
.hum-logo{
    padding-left:75px;
    padding-top:20px;
}
.footer-img{
    position:absolute;
    left:0;
    bottom: 0;
}

